In [1]:
# 네이버 뉴스 크롤링
# https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid=032&listType=paper&date=20240904&page=1
# 1 .기사의 href 링크제목과 링크를 크롤링
# 2. 수집한 링크를 순서대로 접근해서 상세내용 크롤링
# 3. 기사와 링크 내용 순으로 데이터를 결합
# 4. 결합한 데이터를 DB에 적재
# 5. 기사를 검색할수 있도록 streamlit를 구성해서 검색어로 제목을 검색하고 검색리스트를 보여준다음
# 사용자가 항목을 클릭하면 저장한 상세내역을 보여준다

In [2]:
import urllib.request
from sqlalchemy import create_engine
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd

In [3]:
#경향신문 032, 국민 일보 005
op_news = '005'
url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid={op_news}&listType=paper&date=20240904'  
html = urllib.request.urlopen(url)
soup = BeautifulSoup(html,'html.parser')

In [4]:
def getMainArticle(result): # result는 list 
    articles = soup.select('#main_content > div.list_body.newsflash_body > ul')    
    for article in articles:
        result += [(data.text, data.attrs['href']) for data in article.find_all('a')[1:]]

In [5]:
import pandas as pd
result = []
getMainArticle(result)
result[:3]

[('이름 바꿔 점점 느는 정부 ‘쌈짓돈’ 특활비',
  'https://n.news.naver.com/mnews/article/005/0001722683'),
 ('[포토] 34년 만의 공휴일 국군의날… 기념식 예행연습',
  'https://n.news.naver.com/mnews/article/005/0001722676'),
 ('8월 물가 상승률 2.0%라는데… 장바구니 체감은 “글쎄”',
  'https://n.news.naver.com/mnews/article/005/0001722679')]

In [6]:
###########################

In [7]:
!pip install tqdm

Requirement already satisfied: tqdm in c:\users\playdata\appdata\local\anaconda3\envs\pyconda\lib\site-packages (4.66.5)
Requirement already satisfied: colorama in c:\users\playdata\appdata\local\anaconda3\envs\pyconda\lib\site-packages (from tqdm) (0.4.6)

In [8]:
from tqdm import tqdm
op_news = ['032','005','020','021','081','022','023','025','028','469']
result = []
for opn in tqdm(op_news):
    url = f'https://news.naver.com/main/list.naver?mode=LPOD&mid=sec&oid={opn}&listType=paper&date=20240904'  
    html = urllib.request.urlopen(url)
    soup = BeautifulSoup(html,'html.parser')
    getMainArticle(result)
df1 = pd.DataFrame(result,columns=['title','link'])

100%|██████████████████████████████████████████████████████████████████████████████████| 10/10 [00:04<00:00,  2.30it/s]

In [9]:
# 정규식
import re
url = 'https://n.news.naver.com/mnews/article/032/0003318882'
def getArticle(url):
    html = urllib.request.urlopen(url)
    soup = BeautifulSoup(html,'html.parser')
    article = soup.select('article')[0].text
    re_text = re.findall(r'[가-힣0-9\s.%]+',article)
    return ' '.join(re_text).replace('\n','').replace('\t','')
getArticle(url)

'대통령실  국민 안보의식 고취 오는 10월1일 건군 76주년 국군의날이 임시공휴일로 지정됐다.윤석열 대통령은 3일 국무회의를 통과한 국군의날 임시공휴일 지정안을 재가했다고 대통령실이 이날 밝혔다.대통령실은  엄중한 안보 상황 속에서 국방의 중요성과 국군의 존재 가치를 조명해 군의 사기를 진작시키고 국민의 안보 의식을 고취시키기 위해 임시공휴일로 지정했다 며  임시공휴일 지정에 따른 소비 진작 효과로 경제 활성화에도 이바지할 것으로 기대한다 고 밝혔다.국군의날은 1950년 10월1일 6 25전쟁에서 국군이 38선을 돌파한 날을 기념해 1956년 국가공휴일로 지정됐다. 1976년 법정 공휴일로 지정됐다가 1991년부터 공휴일에서 제외됐다. 국군의날이 공휴일이 된 것은 34년 만이다. 앞서 국민의힘은 지난달 25일 고위당정협의회에서 국군의날을 임시공휴일로 지정해달라고 정부에 요청했다.윤 대통령은 이날 국무회의를 통과한 전세사기특별법 개정안과 택시발전법 개정안  전통시장법 시행령 개정령안도 재가했다. 전세사기특별법은 전세사기 피해자에게 공공임대주택을 최대 20년간 지원하는 내용을 골자로 한다. 택시발전법은 이른바 택시 월급제의 전국 확대 시행을 2년 유예하는 내용이고 전통시장법 시행령에는 온누리상품권 사용처를 대폭 확대하는 내용이 담겼다.'

In [10]:
lists = [ getArticle(link) for link in tqdm(df1['link']) ]

100%|████████████████████████████████████████████████████████████████████████████████| 203/203 [01:11<00:00,  2.84it/s]

In [11]:
df1['content'] = lists

In [12]:
df1.head()

,title,link,content
0,“나홀로 응급실 전담…못 받아준 환자가 더 걱정”,https://n.news.naver.com/mnews/article/032/000...,전공의 이탈 6개월째이대목동병원 가보니텅 빈 구급차 전용 주차장 정부가 추석연휴를 ...
1,인권위 ‘사정기관 인권침해’ 권리구제율 8%로 떨어졌다,https://n.news.naver.com/mnews/article/032/000...,2020년 19.6% 이후 하락세 뚜렷기각 각하율은 2년 연속 증가 일부 상임위원 ...
2,이재명·한동훈 공감 뒤 ‘지구당 부활’ 급물살···찬반 분분,https://n.news.naver.com/mnews/article/032/000...,한동훈 국민의힘 대표와 이재명 더불어민주당 대표가 1일 국회에서 열린 여야 대표 회...
3,여야 대표 ‘공감’에…힘 받는 ‘지구당 부활’,https://n.news.naver.com/mnews/article/032/000...,이르면 26일 합의 처리 전망풀뿌리 정치 부활 기대감 속양당 체제 고착화 등 우려도...
4,"내달 1일 국군의날, 임시공휴일로 지정",https://n.news.naver.com/mnews/article/032/000...,대통령실 국민 안보의식 고취 오는 10월1일 건군 76주년 국군의날이 임시공휴일로...

In [13]:
df1.shape

(203, 3)

In [14]:
df2 = df1.reset_index().rename(columns={'index':'id'})

In [15]:
# DB에 저장
from sqlalchemy import create_engine
# MySQL 데이터베이스 연결 생성
username = 'root'
password = '1234'
host = 'localhost'
database = 'mydatabase'
# SQLAlchemy 엔진 생성
engine = create_engine(f'mysql+pymysql://{username}:{password}@{host}/{database}')
# DataFrame을 MySQL의 테이블로 삽입 (테이블이 없으면 생성)
df2.to_sql('news2', con=engine, if_exists='append', index=False)
# 데이터 삽입 후 연결 해제
engine.dispose()

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '0' for key 'news2.PRIMARY'")
[SQL: INSERT INTO news2 (id, title, link, content) VALUES (%(id)s, %(title)s, %(link)s, %(content)s)]
[parameters: [{'id': 0, 'title': '“나홀로 응급실 전담…못 받아준 환자가 더 걱정”', 'link': 'https://n.news.naver.com/mnews/article/032/0003318879', 'content': '전공의 이탈 6개월째이대목동병원 가보니텅 빈 구급차 전용 주차장 정부가 추석연휴를 앞두고 응급실 진료 중단을 막기 위해 군의관 등 인력을 보강하겠다고 밝힌 3일 서울 시내 한 대학병원 권역응급의료센터 앞 텅 빈 구급차 전용 주차장을 환자가 지나가고 있다. 정부는 응급 ... (1901 characters truncated) ...  이르는 상황까지는 아닌 것으로 판단하고 있다 고 했다. 박민수 복지부 2차관은 이날 브리핑에서  현재 응급환자는 점차 감소 추세에 있다 면서  인력 공백을 최소화하기 위해 군의관 공보의 파견  진료지원 간호사 촉탁의 채용 등을 통해 인력을 보강하고 있다 고 밝혔다.'}, {'id': 1, 'title': '인권위 ‘사정기관 인권침해’ 권리구제율 8%로 떨어졌다', 'link': 'https://n.news.naver.com/mnews/article/032/0003318880', 'content': '2020년 19.6% 이후 하락세 뚜렷기각 각하율은 2년 연속 증가 일부 상임위원 의무 등한시 탓 윤석열 정부가 출범한 2022년 이후 국가인권위원회가 권리구제를 한 비율은 줄고 기각 각하 등 종결한 비율은 증가한 것으로 나타났다.3일 윤종군 더불어민주당 의원실이 확 ... (700 characters truncated) ... 위원장의 그간 행보와 무관치 않다. 김 상임위원과 이 상임위원은  소위원회 위원 중 1명만 반대해도 진정을 기각해야 한다 고 주장해왔다.윤 의원은  인권위의 권리구제율이 떨어지는 것은 일부 상임위원들이 보이콧을 감행하는 등 의무를 등한시하고 있기 때문 이라고 말했다.'}, {'id': 2, 'title': '이재명·한동훈 공감 뒤 ‘지구당 부활’ 급물살···찬반 분분', 'link': 'https://n.news.naver.com/mnews/article/032/0003318807', 'content': '한동훈 국민의힘 대표와 이재명 더불어민주당 대표가 1일 국회에서 열린 여야 대표 회담에 앞서 인사하고 있다. 성동훈 기자한동훈 국민의힘 대표와 이재명 더불어민주당 대표가 공감대를 이룬  지구당 부활 이 급물살을 타고 있다. 여야가 이르면 오는 26일 본회의에서 지구당 ... (1607 characters truncated) ... 이 생기면 서울에서 국민의힘이 가져올 의석은 없는데 부산 같은 격전지에서  지구당 부활로 기반을 다진  민주당에게 의석을 뺏길 일만 있다 고 했다. 국민의힘 내에서 지구당 부활에 회의적인 영남권 현역 의원들이 한 대표에 반기를 들어 당내 갈등이 촉발될 가능성도 있다.'}, {'id': 3, 'title': '여야 대표 ‘공감’에…힘 받는 ‘지구당 부활’', 'link': 'https://n.news.naver.com/mnews/article/032/0003318881', 'content': '이르면 26일 합의 처리 전망풀뿌리 정치 부활 기대감 속양당 체제 고착화 등 우려도한동훈 국민의힘 대표와 이재명 더불어민주당 대표가 공감대를 이룬  지구당 부활 이 급물살을 타고 있다. 여야가 이르면 오는 26일 본회의에서 지구당 부활 관련 법안을 합의 처리할 수 있 ... (1256 characters truncated) ... 책이 논의되지 않은 채 부활만 말하는 것은 문제가 있다 면서  지구당 위원장이 아닌 다른 원외 정치인들은 어떻게 되나 라고 반문했다. 이준석 개혁신당 의원은 지난 5월 개혁신당 연석회의에서  지구당이 다시 부활하면 지역 토호와 유착 문제가 생길 수 있다 고 우려했다.'}, {'id': 4, 'title': '내달 1일 국군의날, 임시공휴일로 지정', 'link': 'https://n.news.naver.com/mnews/article/032/0003318882', 'content': '대통령실  국민 안보의식 고취 오는 10월1일 건군 76주년 국군의날이 임시공휴일로 지정됐다.윤석열 대통령은 3일 국무회의를 통과한 국군의날 임시공휴일 지정안을 재가했다고 대통령실이 이날 밝혔다.대통령실은  엄중한 안보 상황 속에서 국방의 중요성과 국군의 존재 가치를 ... (344 characters truncated) ... 령 개정령안도 재가했다. 전세사기특별법은 전세사기 피해자에게 공공임대주택을 최대 20년간 지원하는 내용을 골자로 한다. 택시발전법은 이른바 택시 월급제의 전국 확대 시행을 2년 유예하는 내용이고 전통시장법 시행령에는 온누리상품권 사용처를 대폭 확대하는 내용이 담겼다.'}, {'id': 5, 'title': '세상에 나온 기후 교과서…“들고만 다녀도 캠페인”', 'link': 'https://n.news.naver.com/mnews/article/032/0003318935', 'content': '3년6개월 만에 탄생한 과목  기후변화와 지속가능한 세계 관점 다양성 불평등 등 담아논쟁적 사안 활동자료로 제시학생들  양측 입장에서  고민 청소년 기후 헌법소원 사례도연도별 지구 온도  줄무늬화 저자  표지까지 출판사에 제안올해 처음 기후위기를 다룬 고교 사회과 교 ... (1754 characters truncated) ... 생에게 북극곰으로 기후위기를 설득하기 어렵다 는 의견에 저자들은 연도별 지구 온도를 표시한  가열화 줄무늬 를 출판사에 제안했고 최종 채택됐다. 윤 교사는  학생들이 가열화 줄무늬가 표지인 교과서를 들고 다니는 것 자체가 일종의 기후위기 캠페인이 될 것 이라고 했다.'}, {'id': 6, 'title': '수도권 응급실 11곳 이송 거부…28개월 아이, 한 달째 의식불명', 'link': 'https://n.news.naver.com/mnews/article/032/0003318884', 'content': ' 열경련 위급  수용 문의에도  곤란  답변만분주한 중앙의료원 응급센터 국립중앙의료원 중앙응급의료센터에서 관계자들이 3일 병원 내에 설치된 전광판을 통해 응급의료 현안 대응 현황을 살피고 있다. 연합뉴스응급실 11곳에서 수용 거부를 당한 28개월 아이가 한 달째 의식 ... (282 characters truncated) ...  신고가 접수된 지 1시간5분이 지나서야 12번째 병원인 인천 인하대병원 응급실로 이송됐다. 양은 신고 당시 열경련으로 몸은 경직된 상태였지만 의식은 있었던 것으로 알려졌다. 하지만 의식불명 상태에 빠져 약 한 달째인 이날까지도 의식을 회복하지 못한 것으로 전해졌다.'}, {'id': 7, 'title': '[알림]제54회 대통령기 전국통일구간마라톤대회', 'link': 'https://n.news.naver.com/mnews/article/032/0003318885', 'content': '제54회 대통령기 전국통일구간마라톤대회가 9월8일 서울 경기 통일로 구간에서 열립니다. 이 대회는 1971년 남북적십자회담 개최를 계기로 한반도 평화 정착과 남북 통일의 염원을 담아 시작했습니다. 육상 종목에서 유일하게 대통령 타이틀을 가진 대회로  지난 53년 동안 ... (367 characters truncated) ...   총 11개 팀   시도 대항전 7개 팀   강원  경기  경북  서울  제주  충남  충북   소속 대항전 4개 팀   건국대  계명대  국민체육진흥공단  한국전력공사 주 최   경향신문 대한육상연맹 문 의   경향신문 문화사업국  02 3701 1603 후 원 '}  ... displaying 10 of 203 total bound parameter sets ...  {'id': 201, 'title': '"재범 위험, 도주 우려"... 마약류 투약 유아인 1심 법정구속', 'link': 'https://n.news.naver.com/mnews/article/469/0000821235', 'content': '법원  약 의존도 높아 ... 징역 1년공범 지인 최씨는 징역형 집행유예배우 유아인이 3일 오후 서울 서초동 서울중앙지법에서 열린 1심 선고 공판에 참여하기 위해 법정으로 들어서고 있다. 홍인기 기자의료용 마약 상습 투약 혐의 등으로 재판에 넘겨진 배우 유아인 38  ... (1039 characters truncated) ... 받았다. 최씨는 대마 흡연만 유죄로 인정됐고 마약류관리법 위반 향정  방조  범인도피  특정범죄가중처벌법상 보복 협박 등에 대해선 무죄 판결을 받았다. 재판부는  대마 흡연 횟수가 3회로 비교적 적고 단약을 다짐하는 등 재범하지 않을 것을 다짐하고 있다 고 설명했다.'}, {'id': 202, 'title': "코로나 때 '현장예배' 김문수 장관 1심 무죄→2심 유죄", 'link': 'https://n.news.naver.com/mnews/article/469/0000821204', 'content': '벌금 250만 원 선고김문수 고용노동부 장관. 뉴시스신종 코로나바이러스 감염증 코로나19  확산 당시 서울시의 집합금지 명령을 어기고 수차례 현장 예배에 참석한 김문수 고용노동부 장관과 사랑제일교회 신도들이 항소심에서 유죄를 선고받았다.서울북부지법 형사항소1 3부 부 ... (396 characters truncated) ...  2심 재판부는 원심과 달리 유죄로 판단했다. 재판부는  코로나 시기 감염병 예방과 억제를 위한 국가와 시민의 노력을 헛되게 만들 수 있었다 며  당시 코로나의 높은 감염성  위험성과 집합금지  조치 위반 등을 고려해 볼 때 죄질이 좋지 않다 고 양형 이유를 밝혔다.'}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)