<a href="https://colab.research.google.com/github/greatsangho/python_study/blob/main/20240820_day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(1 + 1)
print(2 + 2)
# 함수 function, 매개변수 존재
# 주석(#)
# 덧셈 연산
1+1
# 나눗셈 연산
2/1

2
4

2.0

# 파이썬 기본 사용법 및 기본 문법

In [ ]:
import keyword # 키워드 확인
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
# 파이썬에서 사용하며 안되는 단어들...
# 1. 키워드
# 2. 명령어(파이썬에서 사용하는) sum, max, min
sum([1,2,3,4,5])

15

In [ ]:
# sum 이름(변수)에 100을 할당
#sum = 100 --> 100 출력 및 나중에 sum 함수 사용 불가능

In [ ]:
max([1,2,3,4,5])

5

In [ ]:
import numpy as mp
mp.mean([1,2,3,4,5])

3.0

In [ ]:
# 키워드 중에서 찾고자 하는 단어가 있는지 확인방법
keyword.iskeyword('sum')

False

In [ ]:
'while' in keyword.kwlist

True

In [ ]:
'''
동해
물과
백두산이
마르고 닳도록
'''

'\n동해\n물과\n백두산이\n마르고 닳도록\n'

In [ ]:
# 사칙연산의 예
# 덧셈
print(1 + 1)
# 뺄셈
print(1 - 1)
# 곱셈
print(1 * 1)
# 나눗셈
print(1/0)

2
0
1

ZeroDivisionError: division by zero

In [ ]:
hello = '안녕하세요' # 대입 연산자
print(hello)

안녕하세요

In [ ]:
hello = 10000
print(hello)

10000

In [ ]:
hello = [1,2,3,4,5]
print(hello)

[1, 2, 3, 4, 5]

In [ ]:
사랑 = 'love'
print(사랑)

love

In [ ]:
print()

In [ ]:
print(type("안녕하세요"))
print(type(273))

<class 'str'>
<class 'int'>

타입
 - type() 함수를 이용해서 변수(식별자)의 데이터의 타입을 확인한다

In [ ]:
type('Hello'), type(100), type(10.5), type(True),type([1,2,3,4,5]), type((1,2,3,4,5)), type({1,2,3,4,5}), type({'a':100})

(str, int, float, bool, list, tuple, set, dict)

In [ ]:
data1 = 'Hello'
print(type(data1))
data1 = 100
print(type(data1))
data1 = 10.5
print(type(data1))
data1 = True
print(type(data1))
data1 = [1,2,3,4,5]
print(type(data1))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'list'>

In [ ]:
song = '동해물과\n백두산이\n마르고 닳도록'
print(song)

동해물과
백두산이
마르고 닳도록

In [ ]:
song = '''동해물과
백두산이
마르고 닳도록'''
print(song)

동해물과
백두산이
마르고 닳도록

In [ ]:
song = "동해물과\n" \
        "백두산이\n" \
        "마르고 닳도록"
print(song)

동해물과
백두산이
마르고 닳도록

In [ ]:
temp = 100
print(temp, temp + 1, temp + 2, temp + 3, \
      temp, temp + 1, temp + 2, temp + 3)

100 101 102 103 100 101 102 103

In [ ]:
print("안녕"+"하세요")
print("안녕하세요"*3)

안녕하세요
안녕하세요안녕하세요안녕하세요

In [ ]:
print("안녕하세요"[1:4])

녕하세

copy

In [ ]:
a = 10
b = a
print(a, b)
b = 20
print(a, b)

10 10
10 20

In [ ]:
a = [1,2,3,4,5]
b = a
print(a, b)
b[0] = 10
print(b)
print(a)
# 같은 주소를 참조

[1, 2, 3, 4, 5] [1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]
[10, 2, 3, 4, 5]

In [ ]:
a = [1,2,3,4,5]
b = a[:]
print(a, b)
b[0] = 10
print(b)
print(a)

[1, 2, 3, 4, 5] [1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

- 얕은 복사
    - 데이터는 같지만 두 변수가 모두 같은 주소(참조)를 가지는 형태
- 깊은 복사
    - 두 변수가 데이터의 값은 같지만 서로 다른 주소(참조) 가지는 형태

In [55]:
a=1
b=a
b=2
print(a, b)

1 2

In [68]:
name = '안녕하세요' # index의 범위는 0~4
# print(name[startindex : endindex : step]) # 인덱싱

print(name[4])
# 문자열의 길이
print(len(name))
# 마지막 인덱스의 값
print(name[-1])
# 슬라이싱 거꾸로
print(name[:-1])
# 두개씩 건너뛰기
print(name[::2])
# 거꾸로 출력하기
print(name[::-1])   # 정렬할 때

요
5
요
안녕하세
안하요
요세하녕안

슬라이싱을 많이 사용하는 경우

In [73]:
import numpy as np
sample = np.random.randint(1, 100, 20)   # 1부터 100 중 20개 무작위 추출
# sample의 마지막 데이터가 정답이고 나머지는 x로 분리할 때
x = sample[:-1]
y = sample[-1]
print(x, y)
# sample 데이터의 개수(크기)
print(len(sample))

[53 62 23 92 42 19 41 10 16 57 81 65  7 59 34 41 69 10 78] 76
20

In [75]:
2**4

16

In [77]:
2^4
# XOR 0010 0100 0110 --> 6
# 수학식에서는 제곱승이지만 파이썬에서는 xor 연산자 --> 임베디드에서 사용

6

문자열의 연산

In [79]:
pi = 3.141592
print(pi)
str(pi) + "원주율"

3.141592

'3.141592원주율'

In [83]:
num = input('숫자를 입력하세요')
num2 = input('더하고 싶은 숫자를 입력하세요')
print(int(num) + int(num2))

숫자를 입력하세요1
더하고 싶은 숫자를 입력하세요2
3

In [85]:
num = input()
type(num)

10

str

In [92]:
print(int("52.3"))

ValueError: invalid literal for int() with base 10: '52.3'

In [93]:
print(float("52"))

52.0

In [94]:
bool(1)

True

In [95]:
bool(100)

True

In [98]:
bool(-1)

True

In [99]:
bool(0)

False

In [100]:
bool(1.2)

True

In [101]:
bool("asdfasd")

True

In [104]:
num = 0
num+=1
num+=1
num+=1
num+=1
num+=1

In [105]:
num

5

In [111]:
# 키를 입력 받아서 cm 단위로
# m 단위로 환산해서 출력
# 1cm = 0.01m
# input을 통해 입력한 값은 문자열이기 때문에, 적절한 변환을 거쳐서
# 미터 단위로 출력한다.
cm = input('키를 cm 단위로 입력하세요> ')
h = float(cm)*0.01
print('입력한 키는 m 단위로 환산 했을 때:',h, 'm', sep="\t")

키를 cm 단위로 입력하세요> 185
입력한 키는 m 단위로 환산 했을 때:	1.85	m

In [114]:
str_input = input('원의 반지름 입력')
num_input = float(str_input)
print()
print('반지름:', num_input)
print('둘레:', 2*3.14*num_input)
print('넓이:', 3.14*num_input**2)

원의 반지름 입력3

반지름: 3.0
둘레: 18.84
넓이: 28.26

In [115]:
# 문자열로 표현하기
num = 125
print("num의 값은:", num)

num의 값은: 125

In [116]:
print(f"num의 값은: {num}")

num의 값은: 125

In [117]:
print("num의 값은: {}".format(num)) # 옛날방식임

num의 값은: 125

In [118]:
# 안녕하세요 200동 200호 세대주 홍길동님 관리비는 120000 입니다.
dong = 200
ho = 200
name = '홍길동'
money = 120000
print(f"안녕하세요 {dong}동 {ho}호 세대주 {name}님 관리비는 {money} 입니다.")

안녕하세요 200동 200호 세대주 홍길동님 관리비는 120000 입니다.

In [121]:
year_preice = 5000
format_a = f"{year_preice}만 원"
format_b = f"파이썬 열공하여 첫 연봉 {year_preice}만 원 만들기"
print(format_a)
print(format_b)

5000만 원
파이썬 열공하여 첫 연봉 5000만 원 만들기

In [122]:
str_num = " 1256"
str_num_strip = str_num.strip()
int_num = int(str_num_strip)
print(int_num)

1256

In [125]:
print(int(" 1256".strip())) # 익숙해지면 이렇게

1256

In [128]:
"안녕하세요".find("해") # index 위치를 찾지 못했을 때

-1

In [129]:
"안녕안녕하세요".find("안")

0

In [130]:
"안녕안녕하세요".rfind("안")

2

In [131]:
bye = "안녕 반가워요. 안녕 잘가요."
# 안녕을 다 찾으려면
bye.find("안녕")

0

In [132]:
a = "10 20 30 40 50".split() # " "이 기본값
print(a)

['10', '20', '30', '40', '50']

In [133]:
"동해물과,백두산이,마르고".split(",")

['동해물과', '백두산이', '마르고']

In [134]:
numbers = input("숫자를 공백을 기준으로 입력하세요").split()
numbers

숫자를 공백을 기준으로 입력하세요10 20 30 40 50

['10', '20', '30', '40', '50']

In [141]:
news = '''
제9호 태풍 ‘종다리’가 북상함에 따라 제주지역 모든 해안가에 대피령이 내려졌다.

제주특별자치도는 20일 오전 11시부터 도내 전 해안가에 대피 명령을 발령했다.

대피 명령에 따라 갯바위와 방파제, 어항시설, 연안 절벽 등 도내 해안가 전역에 주민, 관광객, 낚시객, 연안체험 활동객 등의 접근이 전면 금지됐다.
'''
news.strip().split("\n")[0].split()

['제9호', '태풍', '‘종다리’가', '북상함에', '따라', '제주지역', '모든', '해안가에', '대피령이', '내려졌다.']

In [142]:
print("안녕" in "안녕하세요")
print("잘가" in "안녕하세요")

True
False

In [144]:
'바다' in news

False

확인문제


1. 숫자 연산 기초
문제: 두 개의 숫자를 입력받아, 이들의 합과 차, 곱, 몫, 나머지를 출력하는 프로그램을 작성하세요.

2. 문자열 다루기
문제: 사용자로부터 이름과 나이를 입력받아, "안녕하세요, [이름]님! 당신은 [나이]살입니다."라는 문장을 출력하는 프로그램을 작성하세요.

3. 문자열 길이 구하기
문제: 사용자로부터 문자열을 입력받아, 그 문자열의 길이를 출력하는 프로그램을 작성하세요.

4. 숫자와 문자열 변환
문제: 사용자로부터 숫자를 입력받아, 그 숫자를 문자열로 변환한 후, 문자열의 길이를 출력하는 프로그램을 작성하세요.

5. 문자열 슬라이싱
문제: 사용자로부터 문자열을 입력받아, 문자열의 첫 번째 글자와 마지막 글자를 출력하는 프로그램을 작성하세요.

6. 문자열 대소문자 변환
문제: 사용자로부터 문자열을 입력받아, 해당 문자열을 모두 대문자로 변환한 것과 소문자로 변환한 것을 각각 출력하는 프로그램을 작성하세요.

7. 문자열 포함 여부 확인
문제: 사용자로부터 두 개의 문자열을 입력받아, 첫 번째 문자열에 두 번째 문자열이 포함되어 있는지 여부를 출력하는 프로그램을 작성하세요.

In [159]:
# 1번 문제
a,b = [1,2]
num1, num2 = input("두개의 숫자를 공백으로 구분하여 입력하세요").split()
print("합:", int(num1) + int(num2))
print("차:", int(num1) - int(num2))
print("곱:", int(num1) * int(num2))
print("몫:", int(num1) // int(num2))
print("나머지:", int(num1) % int(num2))

두개의 숫자를 공백으로 구분하여 입력하세요1 2
합: 3
차: -1
곱: 2
몫: 0
나머지: 1

In [147]:
name = input("이름을 입력하세요")
age = input("나이를 입력하세요")
print(f"안녕하세요, {name}님! 당신은 {age}살 입니다.")

이름을 입력하세요상호
나이를 입력하세요26
안녕하세요, 상호님! 당신은 26살 입니다.

In [149]:
giri = input("문자열을 입력하세요")
print(len(giri))

문자열을 입력하세요안 녕 하 세 요 ?
11

In [160]:
num = 1500000
num = str(num)
print(len(num))

7

In [162]:
s = input("문자열을 입력하면 첫글자와 마지막 글자를 출력합니다.")
print(s[0],s[-1])
# -1을 사용하지 않고 마지마 문자를 출력
print(s[0], s[len(s)-1])

문자열을 입력하면 첫글자와 마지막 글자를 출력합니다.1234qwer
1 r
1 r

In [153]:
munja = input("영문자를 입력하세요")
print(munja.upper())
print(munja.lower())
# 두개의 단어를 입력바다서 카멜케이스 형태로 하나의 문장으로 만들어 봅시다.

영문자를 입력하세요happyhappyHAPPY
HAPPYHAPPYHAPPY
happyhappyhappy

In [167]:
a, b = input("두개의 문자열을 입력하세요").split()
c = (a[0].upper() + a[1:]) + (b[0].upper() + b[1:]) # string은 변경 불가능하므로
print(c)
# .capitalize()

두개의 문자열을 입력하세요best student
BestStudent

In [170]:
document = input("문자열을 입력하세요:")
search = input("찾고자 하는 문자열을 입력하세요: ")
print(search in document)

문자열을 입력하세요:가느다란 물방울
찾고자 하는 문자열을 입력하세요: 방울
True