<a href="https://colab.research.google.com/github/greatsangho/python_study/blob/main/20240821_day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 변수
    - 식별자
    - 식별자() --> 함수
    - 첫글자가 대문자인 식별자 --> 클래스
    - 네이밍 룰 : 스네이크, 카멜케이스
        - 스네이크 : 식별자_식별자
        - 카멜케이스 : 각 단어의 첫글자는 대문자로 해서 결합
2. 연산자
    - 사칙연산자 : + - * /
    - 대입연산자 : =
    - **, //, %
3. 문자열
    - 슬라이싱
        - [startindex : endindex -1]
        - 정방향
        - 역방향 : 맨 마지막 데이터를 쉽게 접근
        - step :    [ :: -1]
        - 연산
            - 문자열끼리 더하기
            - 문자열 + 숫자
4. 파이썬의 특징
    - 예약어 : 사용하며 안되지만 사용해도 에러가 안나서 그게 문제
    - 우선순위
    - 타입이 없지만 조사는 가능 ( type() )
    - 타입 변환이 가능하다
        - int() float() bool() str() ...

In [ ]:
# 변수 만들기 : 직접 데이터를 사용하는 변수
# 참조변수
a = 10
b = 20
c = [1,2,3,4,5] # 레퍼런스(ref) 변수
d = c # 얕은복사 두 변수가 사실은 같은 변수(같은주소);구글드라이브 공유
e = c[:] # 깊은복사 두 변수가 서로 다른 주소를 갖는다;직접 문서 복사, 새로운 ref 변수를 생성

In [ ]:
print("안녕하세요")
print("-"*100)

안녕하세요
----------------------------------------------------------------------------------------------------

In [ ]:
print(10==100)
print(10!=100)
print(10<100)
print(10>100)
print(10<=100)
print(10>=100)

False
True
True
False
True
False

비교연산자 만들기

In [ ]:
# 사용자로부터 2개의 값은 받기
num1, num2 = input("두개의 값을 입력하세요").split()
# 문자열 숫자를 숫자로 변경하기
num1, num2 = int(num1), int(num2)
print(f"num1 == num2 : {num1 == num2}")
print(f"num1 != num2 : {num1 != num2}")
print(f"num1 < num2 : {num1 < num2}")
print(f"num1 > num2 : {num1 > num2}")
print(f"num1 <= num2 : {num1 <= num2}")
print(f"num1 >= num2 : {num1 >= num2}")

두개의 값을 입력하세요10 20
num1 == num2 : False
num1 != num2 : True
num1 < num2 : True
num1 > num2 : False
num1 <= num2 : True
num1 >= num2 : False

In [ ]:
print("문자열" == 1)    # 문자열과 숫자는 비교 불가

False

In [ ]:
print(not True)
print(not False)

False
True

In [ ]:
not (10>20)

True

In [ ]:
print(True & False, True and False)
print(True | False, True or False)

False False
True True

In [ ]:
# 입력을 받는다
num = input("정수 입력 : ")
if num.isdecimal():
    num = int(num)

    # 양수조건
    if num > 0:
        print("양수입니다.")
    # 음수조건
    if num < 0:
        print("음수입니다.")
    # 0조건
    if num == 0:
        print("0입니다.")

정수 입력 : 100
양수입니다.

In [ ]:
number = '10'
number.isdecimal()

True

In [ ]:
import datetime
now = datetime.datetime.now() + datetime.timedelta(hours = 9)   # 현재 날짜 구하기
print(now)
print(type(now))
print(now.year, "년")
print(now.month, "월")
print(now.day, "일")
print(now.hour, "시")
print(now.minute, "분")
print(now.second, "초")
print(now.microsecond, "마이크로초")
print(f"{now.year}년 {now.month}월 {now.day}일 {now.hour}시 {now.minute}분 {now.second}초")

2024-08-21 11:02:18.062032
<class 'datetime.datetime'>
2024 년
8 월
21 일
11 시
2 분
18 초
62032 마이크로초
2024년 8월 21일 11시 2분 18초

In [ ]:
# 현재시간을 구해서 오전 오후로 나눠서 출력하기
if now.hour < 12:
    print(f"현재 시간은 {now.hour}시로 오전입니다.")
if now.hour > 12:
    print(f"현재 시간은 {now.hour}시로 오후입니다.")

현재 시간은 11시로 오전입니다.

In [ ]:
import datetime
now = datetime.datetime.now()
current_monht = now.month
if 3<=current_monht<=5:
    print(f"이번달은 {now.month}월로 봄입니다")
if 6<=current_monht<=8:
    print(f"이번달은 {now.month}월로 여름입니다")
if 9<=current_monht<=11:
    print(f"이번달은 {now.month}월로 가을입니다")
if 12==current_monht or current_monht<=2:
    print(f"이번달은 {now.month}월로 겨울입니다")

이번달은 8월로 여름입니다

In [ ]:
# 오늘 수업은 오후 5시 50분까지이고 몇시간 몇분이 몇초 남았는지 구하기
import datetime
now = datetime.datetime.now() + datetime.timedelta(hours = 9)
EndHour,EndMinute, EndSecond = 17,50 - 1, 60
# print(EndHour - now.hour)
# print(EndMinute - now.minute)
print(f"수업 종료까지 {EndHour - now.hour}시간 {EndMinute - now.minute}분 {EndSecond - now.second}초 남았습니다")

수업 종료까지 6시간 31분 38초 남았습니다

In [ ]:
# 현재시간 구하고
# 현재시간에 목표시간을 설정한 다음
# 두 시간차를 계산
now = datetime.datetime.now() + datetime.timedelta(hours =9) # 현재시간
target = now.replace(hour=17, minute=50, second=0) # 목표시간
RemainTime = target - now # 두 시간차
TotalSec = RemainTime.total_seconds() # 두 시간차를 초로 환산

In [ ]:
# 초단위를 시간 단위로 나눠서 몫은 시간이고 나머지가 있다면
# 나머지 값을 다시 분단위로 나눠서 몫은 분이고 나머지가 초
# RemainHour = int(TotalSec//3600)
# RemainMin = int((TotalSec%3600)//60)
# RemainSec = int((TotalSec%3600)%60)
# print(f"수업 종료까지 {RemainHour}시간 {RemainMin}분 {RemainSec}초 남았습니다")

# 버그를 포함하는 코드
h = TotalSec // 3600 # 시간
m, s = 0, 0  # 초기화 이 부분이 없으면 마지막 코드에서 조건문에 걸리지 않을 때
# m과 s가 정의되지 않아서 에러 발생

TotalSec %= 3600 # 시간을 뺀 나머지 초단위 값
if TotalSec > 0:

    m = TotalSec // 60 # 분
    TotalSec %= 60 # 분은 뺀 나머지 값
    if TotalSec > 0:
        s = TotalSec # 초

print(f"수업 종료까지 {int(h)}시간 {int(m)}분 {int(s)}초 남았습니다")

수업 종료까지 6시간 16분 36초 남았습니다

In [ ]:
# 순수하게 강의를 듣는 시간 구하기

In [218]:
import datetime
now = datetime.datetime.now() + datetime.timedelta(hours = 9)
target = now.replace(hour = 17, minute = 50, second = 0)
RemainTime = target - now
TotalSec = RemainTime.total_seconds()
h = int(TotalSec // 3600)
m = int((TotalSec % 3600) // 60)
s = int((TotalSec % 3600) % 60)

if TotalSec > (3600 * 5 + 600):
    TotalSec = TotalSec - 600*h - 3600
    h = int(TotalSec // 3600)
    m = int((TotalSec % 3600) // 60)
    s = int((TotalSec % 3600) % 60)
elif TotalSec > 3600 * 4:
    TotalSec = TotalSec - 600*h
    h = int(TotalSec // 3600)
    m = int((TotalSec % 3600) // 60)
    s = int((TotalSec % 3600) % 60)
else:
    TotalSec = TotalSec - 600*h
    h = int(TotalSec // 3600)
    m = int((TotalSec % 3600) // 60)
    s = int((TotalSec % 3600) % 60)

print(f"수업 종료까지 {int(h)}시간 {int(m)}분 {int(s)}초 남았습니다")

수업 종료까지 -2시간 21분 49초 남았습니다

간단한 조건문 연습

In [ ]:
# 사용자로 부터 나이를 입력 받아서 미성년자 인지 구분하는 프로그램
# 성인 19세 이상
# 출력은 성인입니다., 미성년 입니다.
# 성인이면 입장료를 25000원 받고 미성년이면 25% 할인해서
# 두번째 출력은 입장료는 얼마입니다.
age = input("나이를 입력하세요: ")
cost = 25000
if age.isnumeric():
    age = int(age)
    if age >= 19:
        print("성인입니다.")
        print(f"입장료는 {cost}원입니다.")
    else:
        print("미성년입니다.")
        print(f"입장료는 {int(cost*0.75)}원입니다.")

나이를 입력하세요: 10
미성년입니다.
입장료는 18750원입니다.

In [ ]:
number = input("정수 입력 : ")
if number.isdecimal():
    number = int(number)
    if number % 2 == 0:
        print("짝수입니다.")
    else:
        print("홀수입니다.")

정수 입력 : 123
홀수입니다.

In [ ]:
if age >= 19:
    pass
else:
    pass

In [ ]:
x, y = 5, 0
if x > 4:
    if y > 2:
        print(x * y)
else:
    print(x + y)

In [ ]:
x, y = 5, 0
if x > 4 and y > 2:
    print(x * y)
else:
    print(x + y)

5

In [ ]:
# 년도를 입력받아서 해당년도가 윤년인지 판단하는 프로그램을 작성
'''
그레고리력의 정확한 윤년 규칙은 다음과 같다.

서력 기원 연수가 4로 나누어 떨어지는 해는 윤년으로 한다. (1988년, 1992년, 1996년, 2000년, 2004년, 2008년, 2012년, 2016년, 2020년, 2024년, 2028년, 2032년, 2036년, 2040년, 2044년 ...)
서력 기원 연수가 4, 100으로 나누어 떨어지는 해는 평년으로 한다. (1700년, 1800년, 1900년, 2100년, 2200년, 2300년...)
서력 기원 연수가 4, 100, 400으로 나누어 떨어지는 해는 윤년으로 둔다. (1600년, 2000년, 2400년...)
'''
# year = input("년도를 입력하세요 : ")
# year = int(year)

for year in range(1988, 2045):
    if (year % 4 == 0):
        if(year % 100 == 0 and year % 400 != 0):
            # print("평년")
            pass
        else:
            print("윤년",year)
    else:
        # print("평년")
        pass

윤년 1988
윤년 1992
윤년 1996
윤년 2000
윤년 2004
윤년 2008
윤년 2012
윤년 2016
윤년 2020
윤년 2024
윤년 2028
윤년 2032
윤년 2036
윤년 2040
윤년 2044

자료구조
- list ***
- tuple
- set
- dictionary

In [ ]:
list_1 = [1,2]
list_2 = [3,4]
# 연산은 문자열과 동일...+,*,len()
print(list_1 + list_2)
print(list_1 * 3)
print(len(list_1))

[1, 2, 3, 4]
[1, 2, 1, 2, 1, 2]
2

append / insert

In [ ]:
list_3 = []
list_3.append(1)
print(list_3)
list_3.append(2)
print(list_3)
list_3.append(3)
print(list_3)
list_3.insert(1,4)
print(list_3)

[1]
[1, 2]
[1, 2, 3]
[1, 4, 2, 3]

extend
 - 기존 리스트를 확장한다.

In [ ]:
list_1 = [1,2,3]
list_2 = [4,5]

# print(list_1.append(list_2))
# print(list_1)
# print(len(list_1))
print(list_1 + list_2)
list_1 += list_2
print(list_1)
list_1.extend(list_2)
print(list_1)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 4, 5]

삭제
 - del, remove : 위치정보와 값으로 제거한다.
 - pop : 삭제한 데이터를 리턴한다
 - clear : 전부

in/not in

In [ ]:
list_1 = [1,2,3,4,5]
del list_1[0]
print(list_1)
print(list_1.pop()) # 인덱스를 생략하면 마지막 인덱스르 pop 한다
print(list_1)
list_1.remove(3) # 3이라는 값을 찾아서 삭제.. 전부가 아님
print(list_1)
list_1.clear() # 전부 삭제함
print(list_1)
list_1 = [1,2,3,4,5]
print(3 in list_1) # 리스트의 요소중에 3이 있으면 true
print(3 not in list_1) # 리스트의 요소중에 3이 없으면 true

[2, 3, 4, 5]
5
[2, 3, 4]
[2, 4]
[]
True
False

반복문
 - 동일한 코드를 연속적으로 실행
 - 패턴을 분석해서.. 반복문으로 만든다.
  - 2 * 1 = 2

In [ ]:
i = 1
print(f"2*{i}={2*i}")
i = 2
print(f"2*{i}={2*i}")
i = 3
print(f"2*{i}={2*i}")
i = 4
print(f"2*{i}={2*i}")
i = 5
print(f"2*{i}={2*i}")
i = 6
print(f"2*{i}={2*i}")
i = 7
print(f"2*{i}={2*i}")
i = 8
print(f"2*{i}={2*i}")
i = 9
print(f"2*{i}={2*i}")

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18

In [ ]:
for i in range(1,10):
    print(f"2*{i}={2*i}")

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18

In [ ]:
for i in [10,20,300]:
    print(i)

10
20
300

In [ ]:
for dan in range(2,10):
    for i in range(1,10):
        print(f"{dan}*{i}={dan*i}")

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [ ]:
for dan in range(2,10):
    print("\n"+"-"*50 + str(dan) + "-"*50)
    for i in range(1,10):
        print(f"{dan}*{i}={dan*i}", end="\t")

--------------------------------------------------2--------------------------------------------------
2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18
--------------------------------------------------3--------------------------------------------------
3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27
--------------------------------------------------4--------------------------------------------------
4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36
--------------------------------------------------5--------------------------------------------------
5*1=5	5*2=10	5*3=15	5*4=20	5*5=25	5*6=30	5*7=35	5*8=40	5*9=45
--------------------------------------------------6--------------------------------------------------
6*1=6	6*2=12	6*3=18	6*4=24	6*5=30	6*6=36	6*7=42	6*8=48	6*9=54
--------------------------------------------------7--------------------------------------------------
7*1=7	7*2=14	7*3=21	7*4=28	7*5=35	7*6=42	7*7=49	7*8=56	7*9=63
--------------------------------------------------8--------------------------------------------------
8*1=8	8*2=16	8*3=24	8*4=32	8*5=40	8*6=48	8*7=56	8*8=64	8*9=72
--------------------------------------------------9--------------------------------------------------
9*1=9	9*2=18	9*3=27	9*4=36	9*5=45	9*6=54	9*7=63	9*8=72	9*9=81

In [ ]:
print('a',end = '')
print("b")

ab

In [ ]:
for i in range(5):
    for j in range(i+1):
        print('*',end='')
    print()

*
**
***
****
*****

In [ ]:
for i in range(5):
    for j in range(5-i):
        print('*', end='')
    print()

*****
****
***
**
*

In [ ]:
for i in range(5):
    for j in range(i+1):
        print('*',end='')
    print()

for i in range(5):
    for j in range(5-i):
        print('*', end='')
    print()

*
**
***
****
*****
*****
****
***
**
*

In [219]:
# 오른쪽 정렬하기
size = 5
for i in range(size):
    print(" "*(size-i-1), end='')
    for j in range(i+1):
        print("*", end='')
    print()

    *
   **
  ***
 ****
*****

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
for i in range(4, -1, -1):
    print(i)

4
3
2
1
0

In [ ]:
list(range(5))[::-1]

[4, 3, 2, 1, 0]

In [ ]:
for i in range(5)[::-1]:
    print(i)

4
3
2
1
0

In [202]:
list_1 = list(range(5))
list_1.reverse()
print(list_1)
for i in list_1:
    print(i)

[4, 3, 2, 1, 0]
4
3
2
1
0

In [ ]:
# 1부터 100까지 중에서 3ㅢ 배수(3으로 나누어서 0으로 떨어지는 수)의 합
# 5의 배수 또는 7의 배수들의 수를 리스트로 담아주세요
total = 0
list_5_7 =[]
for i in range(1,101):
    if i % 3 ==0:
        total += i
    if (i % 5 == 0) or (i % 7 == 0):
        list_5_7.append(i)
print(total)
print(list_5_7)

1683
[5, 7, 10, 14, 15, 20, 21, 25, 28, 30, 35, 40, 42, 45, 49, 50, 55, 56, 60, 63, 65, 70, 75, 77, 80, 84, 85, 90, 91, 95, 98, 100]

In [ ]:
YunYear = []
for year in range(1988, 2045):
    if (year % 4 == 0):
        if(year % 100 == 0 and year % 400 != 0):
            # print("평년")
            pass
        else:
            YunYear.append(year)
    else:
        # print("평년")
        pass

print(YunYear)

[1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020, 2024, 2028, 2032, 2036, 2040, 2044]

리스트가 리스트를 요소로 갖는 2차원 리스트

In [ ]:
import random
lotto = []
lottos = []

# random.randint(1,100) 1~99 사이의 숫자중에 랜덤한 숫자를 반환
# for문을 이용해서 리스트에 랜덤한 데이터 3개를 저장
for j in range(5):
    lotto.clear() # 재 사용을 위해서 저장했던 리스트를 비움
    for i in range(6):
        lotto.append(random.randint(1,46)) # 1 ~ 45 랜덤한 수사를 발생 후 저장

    lottos.append(lotto) # 랜덤한 6개의 숫자로 된 리스트를 다시 리스트에 저장

# 출력
for i in lottos:
    print(i)

# 참조한 것을 다시 참조해서 결국 같은 주소를 가져오게 되므로
# 마지막 가져온 값으로 똑같이 가져옴

[28, 21, 16, 46, 40, 28]
[28, 21, 16, 46, 40, 28]
[28, 21, 16, 46, 40, 28]
[28, 21, 16, 46, 40, 28]
[28, 21, 16, 46, 40, 28]

In [ ]:
import random

lottos = []

# random.randint(1,100) 1~99 사이의 숫자중에 랜덤한 숫자를 반환
# for문을 이용해서 리스트에 랜덤한 데이터 3개를 저장
for j in range(5):
    lotto = [] # 재 사용을 위해서 저장했던 리스트를 비움
    for i in range(6):
        lotto.append(random.randint(1,46)) # 1 ~ 45 랜덤한 수사를 발생 후 저장

    lottos.append(lotto) # 랜덤한 6개의 숫자로 된 리스트를 다시 리스트에 저장

# 출력
for i in lottos:
    print(i)

# 매번 새로 리스트를 만들어 사용, 참조형임을 주의

[15, 24, 25, 27, 45, 2]
[25, 8, 12, 6, 37, 23]
[10, 1, 40, 4, 44, 30]
[35, 24, 20, 8, 11, 22]
[4, 6, 43, 36, 7, 33]

중복없이 1~45 사이의 데이터 중에 6개를 생성해서 리스트에 담는다
 - in
 - if
 - break
 - append

In [ ]:
# 순환문 탈출하기
# 순환문 안에서 더이상 순환할 필요가 없을 때 중간에 종료하는 기법
# break

for i in range(10):
    if i == 5:
        break  # 5가 되면 탈출
    print(i)

print()

for i in range(10):
    if i == 5:
        continue # 5를 제외하고
    print(i)

0
1
2
3
4

0
1
2
3
4
6
7
8
9

In [ ]:
# 중복없이 1 ~ 45 사이의 데이터 중에 6개를 생성해서 리스트에 담는다
lotto = []

for i in range(100):
    if len(lotto) == 6:
        break
    random_data = random.randint(1, 45)
    if random_data not in lotto:
        lotto.append(random_data)

print(lotto)

[18, 43, 45, 7, 32, 23]

In [ ]:
lotto = []

while len(lotto) < 6:
    random_data = random.randint(1, 45)
    if random_data not in lotto:
        lotto.append(random_data)

print(lotto)

[13, 30, 17, 22, 42, 41]

Dictionary

In [ ]:
dic_1 = {'name':'홍길동', 'age':20}
print(dic_1)

{'name': '홍길동', 'age': 20}

In [ ]:
# key:value 가 한쌍으로 이루어진 데이터의 집합
# 자료구조는 crud 가능해야 한다
# c : 생성
# r : 읽기
# u : 업데이트
# d : 삭제

print(dic_1['name']) # 키 값을 이용해서 데이터를 읽어온다.
print(dic_1['age'])
# 업데이트
dic_1['name'] = '홍길순'
print(dic_1)
# 삭제
del dic_1['age']
print(dic_1)
# 추가
dic_1['address'] = '서울'
print(dic_1)

홍길동
20
{'name': '홍길순', 'age': 20}
{'name': '홍길순'}
{'name': '홍길순', 'address': '서울'}

In [ ]:
students = {
    '홍길동':{
    'score':{'국어': 80, '영어' : 85, '수학' : 90},
    "출석률": 85,
    '장래희망':'유튜버'
    },
    '홍길순':{
    'score':{'국어': 80, '영어' : 95, '수학' : 97},
    "출석률": 100,
    '장래희망':'의적'
    }
}
# 웹에서 json 형태임

students['홍길동']['score']['수학']=100
print(students)

{'홍길동': {'score': {'국어': 80, '영어': 85, '수학': 100}, '출석률': 85, '장래희망': '유튜버'}, '홍길순': {'score': {'국어': 80, '영어': 95, '수학': 97}, '출석률': 100, '장래희망': '의적'}}

In [ ]:
dict_1 = {}
print(dict_1)
dict_1['name'] = '홍길동'
print(dict_1)
dict_1['name'] = '홍길동2'
print(dict_1)
dict_1['score'] = 100
print(dict_1)
# 없으면 생성, 있으면 업데이트

{}
{'name': '홍길동'}
{'name': '홍길동2'}
{'name': '홍길동2', 'score': 100}

In [ ]:
# key가 존재하는지 확인하는 방법
'name' in dict_1

True

In [ ]:
# key 값들만 리스트로 반환한다
print(dict_1.keys())
# value 값들만 리스트로 반환한다
print(dict_1.values())

dict_keys([])
dict_values([])

In [203]:
# key, value의 각 쌍으로 데이터를 집합화
print(dict_1.items())
print(dict_1)
dict_1.clear()
print(dict_1)

dict_items([('홍길동', 4), ('나길동', 1)])
{'홍길동': 4, '나길동': 1}
{}

In [ ]:
# 1. 임의의 dictionary 데이터를 만든다
# 2. 키 값들을 for문으로 순환해서 key를 출력
# 3. value 값들을 for문으로 순환해서 value를 출력
# 4. (key,value) 순환문으로 출력

In [ ]:
for key in dict_1:
    print(key)

name
score

In [ ]:
for value in dict_1.values():
    print(value)

홍길동2
100

In [ ]:
for key, value in dict_1.items():
    print(key, value)

name 홍길동2
score 100

In [ ]:
# key가 없으면 에러
# dict_1['key'] = value --> key가 존재하면 업데이트고 없으면 추가
dict_1 = {}
dict_1['홍길동'] = 0
dict_1['홍길동'] += 1
dict_1['홍길동'] += 1
dict_1['홍길동'] += 1
dict_1['홍길동'] += 1
dict_1['나길동'] = 0
dict_1['나길동'] += 1

print(dict_1)
# 투표 시스템

{'홍길동': 4, '나길동': 1}

In [ ]:
# 리스트와 딕셔너리를 이요한 투표시스템 작성
candidate = ['홍길동', '나길동', '이길동']
# 유권자가 20명이고 각 후보에 투표를 한다는 시뮬레이션
# 투표리스트에 [0,0,0,1,2,0,1,2] --> 랜덤을 이용해서 0~2사이의 데이터를 20개 뽑는다
import random
vote_list = []
for i in range(20):
    vote_list.append(random.randint(0,2))
print(vote_list)

[2, 2, 1, 0, 2, 1, 1, 0, 0, 2, 1, 1, 2, 0, 1, 0, 2, 1, 2, 2]

In [ ]:
result_dict = {
    '홍길동':0,
    '나길동':0,
    '이길동':0
}

for vote in vote_list:
    result_dict[candidate[vote]] += 1
print(result_dict)
# vote_list와 candidate를 이용해서 최종 득표수를 구해보세요

{'홍길동': 5, '나길동': 7, '이길동': 8}

In [ ]:
# 단어의 빈도수 구하기
words = ['뉴스','자동차','뉴스','자동차','화재','전기차','내연기관','뉴스']
word_dict = {}
for word in words:
    if word in word_dict:
        word_dict[word] += 1
    else:
        word_dict[word] = 1
print(word_dict)

# dictionary 특성을 이용해 word cloud까지 활용 가능

{'뉴스': 3, '자동차': 2, '화재': 1, '전기차': 1, '내연기관': 1}

In [215]:
# character 만들기 문제
character = {
    "name" : "기사",
    "level" : 12,
    "items" : {
        "sword" : "불꽃의 검",
        "armor" : "풀플레이트"
    },
    "skill" : ["베기","세게 베기","아주 세게 베기"]
}

for key in character:
    print(character.values())

    # if type(character.values()) is str:
    #     print(f"{key}:{character[key]}")
    # if type(character.values()) is list:
    #     for list_1 in key:
    #         print(f"{key}:{list_1[key]}")
    # if type(character.values()) is dict:
    #     for dict_1 in key:
    #         print(f"{key}:{dict_1[key].value()}")

dict_values(['기사', 12, {'sword': '불꽃의 검', 'armor': '풀플레이트'}, ['베기', '세게 베기', '아주 세게 베기']])
dict_values(['기사', 12, {'sword': '불꽃의 검', 'armor': '풀플레이트'}, ['베기', '세게 베기', '아주 세게 베기']])
dict_values(['기사', 12, {'sword': '불꽃의 검', 'armor': '풀플레이트'}, ['베기', '세게 베기', '아주 세게 베기']])
dict_values(['기사', 12, {'sword': '불꽃의 검', 'armor': '풀플레이트'}, ['베기', '세게 베기', '아주 세게 베기']])