<a href="https://colab.research.google.com/github/greatsangho/python_study/blob/main/2240823_day_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수 Review

In [1]:
# 매개변수
  # 연산자 기호를 문자열로 전달, 대상이 되는 피연산자를 개수에 상관없이 전달했을 때 해다 내용으 수행
  # calc('+', 1,2,3) calc('-',1,2,3,4,5) calc('*', 1,2) calc('/', 1,2,3,4)
def calc(oper, *args):
  result = 0
  if oper == '+':
    for i in args:
      result += i
  elif oper == '-':
    for i in args:
      result -= i
  elif oper == '*':
    result = 1
    for i in args:
       result *= i
  elif oper == '/':
    result = 1
    for i in args:
      result /= i
  return result

In [2]:
calc('+',1,2,3,4,5)

15

eval 표현식
 - 문자열을 그대로 명령어로 변환해주는 기능

In [3]:
operation = '1 + 2 + 3 * 20+1'
eval(operation)

64

In [4]:
operation = "calc('+',1,2,3,4,5)"
eval(operation)

15

In [5]:
# 튜플 - 집합의 데이터를 변경 불가함(읽기전용)
# 람다 - 이름없는 함수, 매개변수로 함수를 전달(기능만 전달)
# with 구문 - 알아서 정리해줌, 파일 닫기나 MySQL과 연동 시 사용
# 파일을 열고 닫아야 함
# 좀비 프로세스 - 프로세스 제어권을 잃은 프로세스, 쓰레드 프로그래밍 잘못하면 생성됨

# 튜플
 - 변경 불가능하다

In [6]:
tuple1 = 1,2,3,4,5
tuple1

(1, 2, 3, 4, 5)

In [7]:
a,b = [1,[2,3,4]]
a,b = 1,(2,3,4)
print(a, b)

# pack - 여러개를 하나로; *args, unpack - 딕셔너리를 함수에 전달할 때 풀어서; **args

1 (2, 3, 4)

In [8]:
def test():
  return (10, 20)

a, b = test()
print(a, b)

10 20

In [9]:
# 생성
# 읽기
tuple1 = 1,2,3,4,5,6,7,8,9,2
tuple1[:5]

(1, 2, 3, 4, 5)

In [10]:
list_1 = [1,2]
tuple1.index(2) # 처음 나오는 것 하나의 위치 찾기

1

# 람다
 - 이름없이 구현하는 함수

In [11]:
def calc( func, *args ):
  return func( *args )

In [12]:
def add(*args):
  result = 0
  for i in args:
    result += i
  return result

In [13]:
calc(add, 1,2,3,4,5,6)

21

In [14]:
calc(max, 1,2,3,4,5,6)

6

In [15]:
def mean(*args):
  return sum(args) / len(args)

calc(mean, 1,2,3,4,5,6) # 함수를 만들기 귀찮음, 기능만 하는 함수를 원함

3.5

lambda 매개변수 : 리턴값
 - 람다는 무조건 리턴하는 함수임
 - 대입연산자 이용하여 비휘발성 함수로도 활용 가능
 - 주로 정렬할 때

In [16]:
myF = lambda *args : sum(args) / len(args)

myF(1,2,3,4,5,6)

3.5

In [17]:
calc(myF, 1,2,3,4,5,6)

3.5

In [18]:
calc(lambda *args : sum(args) / len(args), 1,2,3,4,5,6)

3.5

In [19]:
power = lambda x : x * x
under_3 = lambda x : x < 3

list_input_a = [1,2,3,4,5]

output_a = map(power, list_input_a)
print(output_a) # 객체 출력
print(list(output_a))

output_b = filter(under_3, list_input_a)
print(list(output_b))

<map object at 0x78c298253be0>
[1, 4, 9, 16, 25]
[1, 2]

In [20]:
list_1 = [1,2,3,4,5]
list(map(lambda x : x + 10, list_1))

[11, 12, 13, 14, 15]

In [21]:
list(map(int, ['11','12','13', '14']))

[11, 12, 13, 14]

In [22]:
num1, num2 = map(int, input('두개의 숫자를 공백으로 분리해서 입력하세요').split())
print(num1 + num2)

두개의 숫자를 공백으로 분리해서 입력하세요12 13
25

# filter
 - 집합에서 조건에 맞는 데이터만 추출

In [23]:
import random
# 1 ~ 100 사이의 데이터 중에서 랜덤하게 10개 리스트로
list_1 = [random.randint(1,100) for i in range(10)]
print(f'list_1 : {list_1}')
# 50보다 큰 데이터만 추출
list(filter(lambda x : x > 50, list_1))

list_1 : [74, 94, 85, 93, 88, 23, 28, 13, 93, 16]

[74, 94, 85, 93, 88, 93]

In [24]:
list(filter(lambda x : x % 2 == 0, list_1))

[74, 94, 88, 28, 16]

In [25]:
list(map(lambda x : 0 if x % 2 == 0 else 1, list_1))

[0, 0, 1, 1, 0, 1, 0, 1, 1, 0]

In [26]:
# 주어진 리스트 : 리스트 컴프리핸션을 이용해서 랜덤한 값 10개(1~100)
import random
rand_list = [random.randint(1,100) for i in range(10)]
print(rand_list)
# map : 주어진 리스트에 적당한 연산을 수행
print(list(map(lambda x : x * 10, rand_list)))
# filter : 주어진 리스트 중에 3과 5의 배수만 필터링
print(list(filter(lambda x : x %3 == 0 or x %5 == 0, rand_list)))

[100, 51, 18, 16, 40, 7, 85, 50, 73, 28]
[1000, 510, 180, 160, 400, 70, 850, 500, 730, 280]
[100, 51, 18, 40, 85, 50]

In [27]:
sample1 = [[random.randint(1,100) for i in range(3)] for j in range(3)]
sample1

[[74, 96, 9], [17, 99, 49], [69, 40, 85]]

In [28]:
result =[]
for i in sample1:
  result.extend(i) # 리스트를 확장
result

[74, 96, 9, 17, 99, 49, 69, 40, 85]

In [29]:
result = []
for i in sample1:
  for j in i:
    result.append(j)

print(result)

sum(sample1, []) # 암기... 2차원 데이터를 1차원으로 flatten(펴기)

[74, 96, 9, 17, 99, 49, 69, 40, 85]

[74, 96, 9, 17, 99, 49, 69, 40, 85]

In [30]:
file = open('basic.txt', 'w') # 상대경로 <-> 절대경로
file.write('Hello Python')
file.close() # 반드시 닫아줘야 함

In [31]:
with open('basic.txt', 'w') as file:
  file.write('Hello Python')
# close 생략할 수 있음
# 파일 쓰기

In [32]:
# 파일 읽기
with open('basic.txt', 'r') as file:
  content = file.read()

print(content)

Hello Python

- 람다
- map
- filter
- 튜플
- 파일조작

In [33]:
# functools 라는 이름의 모듈 중에서 reduce 함수를 사용하도록 가져온다
from functools import reduce # functcools 공구상자에서 reduce 공구를 꺼내서 사용
print(reduce(lambda x, y : x + y, [1,2,3,4,5])) # 앞에서부터 2개 계산한 뒤 그 결과를 옆과 계산

15

In [34]:
sample1 = [[random.randint(1,100) for i in range(3)] for j in range(4)]
print(sample1)
reduce(lambda x,y: x+y, sample1)

[[29, 91, 93], [43, 12, 97], [83, 16, 80], [37, 30, 68]]

[29, 91, 93, 43, 12, 97, 83, 16, 80, 37, 30, 68]

# 딕셔너리 정렬

In [35]:
# 임의의 딕셔너리를 생성
  # 두개의 집합을 만들고
  # zip을 이용해서 두 집합의 요소를 튜플로 만들어서 리스트화
  # dict 함수에 넣으면 딕셔너리가 완성

In [36]:
list_1 = ['김','이','박','최','홍']
list_2 = [random.randint(1,100) for i in range(5)]
dict_1 = dict(list(zip(list_1, list_2)))
dict_1

{'김': 65, '이': 72, '박': 20, '최': 32, '홍': 61}

In [37]:
sorted(dict_1.items(), key=lambda x : x[1])

[('박', 20), ('최', 32), ('홍', 61), ('김', 65), ('이', 72)]

In [38]:
dict(sorted(dict_1.items(), key=lambda x : x[1], reverse = True))

{'이': 72, '김': 65, '홍': 61, '최': 32, '박': 20}

In [39]:
# 3 x 3 형태의 2차원 리스트를 만들어서
# 각각의 row.col 및 좌우 대각선이 평균을 구해보세요
sample = [[random.randint(1,100) for i in range(3)] for i in range (3)]
for i in range(3):
  for j in range(3):
    print(sample[i][j], end='\t')
  print()

print('-'*100)
# 각 row/col 합
row = list(map(lambda x : sum(x) / len(x), sample))
print(row)

print('-'*100)

col_avg = []
for i in range(3):
  total = 0
  for j in range(3):
    total += sample[j][i]
  col_avg.append(total/3)
print(col_avg)

print('-'*100)

# 오른쪽 대각선의 합
diag_avg = []
total = 0
for i in range(3):
  total += sample[i][i]
print(total/len(sample))

print('-'*100)

#왼쪽 대각선의 합
diag_avg = []
total = 0
for i in range(3):
  total += sample[i][-i-1]
print(total/len(sample))

95	36	62
35	50	75
48	4	22
----------------------------------------------------------------------------------------------------
[64.33333333333333, 53.333333333333336, 24.666666666666668]
----------------------------------------------------------------------------------------------------
[59.333333333333336, 30.0, 53.0]
----------------------------------------------------------------------------------------------------
55.666666666666664
----------------------------------------------------------------------------------------------------
53.333333333333336

In [40]:
# 오른쪽 대각선의 합
total = 0
for i in range(3):
  total += sample[i][i]
print(f"오른쪽 대각선의 합 : {total}")

# 왼쪽 대각선의 합
total = 0
for i in range(3):  # 0 1 2 -> -1 -2 -3
  total += sample[i][-i-1]
print(f"왼쪽 대각선의 합 : {total}")

# 각 row/colr 합
for i in range(3):
  total = 0
  row_total = 0
  col_total = 0
  for j in range(3):
    row_total += sample[i][j]
    col_total += sample[j][i]
  print(f"row들의 각각 합 : {row_total}")
  print(f"col들의 각각 합 : {col_total}")

오른쪽 대각선의 합 : 167
왼쪽 대각선의 합 : 160
row들의 각각 합 : 193
col들의 각각 합 : 178
row들의 각각 합 : 160
col들의 각각 합 : 90
row들의 각각 합 : 74
col들의 각각 합 : 159

In [41]:
def right_diag_sum(sample):
  total = 0
  for i in range(len(sample)):
    total += sample[i][i]
    print(f"오른쪽 대각선의 합 : {total}")

def left_diag_sum(sample):
  total = 0
  for i in range(len(sample)):
    total += sample[i][-i-1]
  print(f"왼쪽 대각선의 합 : {total}")

def row_col_sum(sample):
  row, col = [], []
  for i in range(3):
    total = 0
    row_total = 0
    col_total = 0
    for j in range(3):
      row_total += sample[i][j]
      col_total += sample[j][i]

    print(f"row들의 각각 합 : {row_total}")
    print(f"col들의 각각 합 : {col_total}")

In [42]:
# 리스트의 모양이 정사각형 모양이면 각 대각선의 합도 리턴하고
# 그렇지 않으면 row 별 col별 합을 리턴
sample = [[random.randint(1,100) for i in range(3)] for i in range (3)]
sample

[[26, 46, 86], [55, 4, 67], [1, 32, 86]]

In [43]:
def crossVal(listData):
  row = len(listData)
  col = len(listData[0])
  crossVals = []  # 각 대각선의합(오른쪽왼쪽,왼쪽오른쪽)
  if row == col:
    # 각 대각선합을 구하고
    # 오른쪽 대각선의 합
    total = 0
    for i in range(row):
      total += listData[i][i]
    crossVals.append(total)
    # 왼쪽 대각선의 합
    total = 0
    for i in range(row):  # 0 1 2 -> -1 -2 -3
      total += listData[i][-i-1]
    crossVals.append(total)
  return crossVals

def rows_sum(listData):
  rows = []
  row = len(listData)
  col = len(listData[0])
  for i in range(row):
    row_total = 0
    for j in range(col):
      row_total += listData[i][j]
    rows.append(row_total)
  return rows

def cols_sum(listData):
  cols = []
  row = len(listData)
  col = len(listData[0])
  for i in range(col):
    col_total = 0
    for j in range(row):
      col_total += listData[j][i]
    cols.append(col_total)
  return cols

In [44]:
# sample의 shape 알아내기
def multiSummeray(sample):
  crossVals = crossVal(sample)
  # row = len(listData)
  # col = len(listData[0])
  # crossVals = []  # 각 대각선의합(오른쪽왼쪽,왼쪽오른쪽)
  # if row == col:
  #   # 각 대각선합을 구하고
  #   # 오른쪽 대각선의 합
  #   total = 0
  #   for i in range(row):
  #     total += sample[i][i]
  #   crossVals.append(total)
  #   # 왼쪽 대각선의 합
  #   total = 0
  #   for i in range(row):  # 0 1 2 -> -1 -2 -3
  #     total += sample[i][-i-1]
  #   crossVals.append(total)

  # row별 합을 구하고
  rows = rows_sum(sample)
  # rows,cols = [],[]
  # for i in range(row):
  #   total = 0
  #   row_total = 0
  #   for j in range(col):
  #     row_total += sample[i][j]
  #   rows.append(row_total)

  # col별 합을 구하고
  cols = cols_sum(sample)
  # for i in range(col):
  #   total = 0
  #   col_total = 0
  #   for j in range(row):
  #     col_total += sample[j][i]
  #   cols.append(col_total)

  return rows,cols,crossVals

In [45]:
multiSummeray(sample)

([158, 126, 119], [82, 82, 239], [116, 91])

In [46]:
# 예외가 발생하면 로그가 쌓임
# syntax error - 구문오류, 오타
# runtime error / exception

In [47]:
number_input_a = input('정수 입력> ')
if number_input_a.isdigit():
  number_input_a = int(number_input_a)
  print("원의 반지름", number_input_a)
  print("원의 둘레", 2 * 3.14 * number_input_a)
  print("원의 넓이", 3.14 * number_input_a * number_input_a)
else:
  print("정수를 입력하세요")

정수 입력> 100
원의 반지름 100
원의 둘레 628.0
원의 넓이 31400.0

In [48]:
try:
  number_input_a = input('정수 입력> ')
  number_input_a = int(number_input_a)
  print("원의 반지름", number_input_a)
  print("원의 둘레", 2 * 3.14 * number_input_a)
  print("원의 넓이", 3.14 * number_input_a * number_input_a)

except:
  print("무언가 잘못되었습니다")

정수 입력> asdf
무언가 잘못되었습니다

In [56]:
list_input = ['52','273','32','스파이','103',[1,2,], {}, (1,2),'123', 1,2,3]

list_number = []
for item in list_input:
  try:
    float(item)
    list_number.append(item)
  except:
    print('ops!!')
    # pass
  else:
    print('good')
  finally: # 무조건 실행할 필요가 있는 것, 문서 close 할 때, 하지만 with 절로 인해 잘 사용안함
    print('완료')

print(list_number)

# try 개발자가 예상하지 못하는 문제 해결하기 위해

good
완료
good
완료
good
완료
ops!!
완료
good
완료
ops!!
완료
ops!!
완료
ops!!
완료
good
완료
good
완료
good
완료
good
완료
['52', '273', '32', '103', '123', 1, 2, 3]

In [59]:
givemenu = input('정수를 입력하세요')
try:
  number_input = int(givemenu)
  print(number_input)
except:
  print('잘못되었습니다')
else:
  print('예외가 발생하지 않았습니다')
finally:
  print('어떻게든 끝났습니다')

정수를 입력하세요123
123
예외가 발생하지 않았습니다
어떻게든 끝났습니다

In [60]:
# try + except
# finally 구문은, break로 for, while 구문 나올때에도 실행함
# raise - 예외를 발생시킴

In [78]:
# 예외가 발생하면 타입별로 처리하는 걸 달리할지
# 모든 예외 발생시 동일한 처리를 할 건지
try:
  index_number = int(input("인덱스 번호 입력> ")) # ValueError
  sample = [random.randint(1,100) for i in range(10)]
  print(sample[index_number]) # indexError
  num1, num2 = map(int,input("공백을 기준으로 두개의 정수를 입력").split())
  print(f'{num1} / {num2} = {num1/num2}') # zeroDivisionError

except ValueError as error: # as - 변수화
  print(error)
except IndexError as error:
  print(error)
except ZeroDivisionError as error:
  print(error)
except Exception as error: # 그 외 나머지, else --> 에러 구문을 나눈 경우 반드시 포함해야 에러 방지!!
  print(error)

# 다른 언어에서 try ~ catch와 비슷

인덱스 번호 입력> 0
85
공백을 기준으로 두개의 정수를 입력1 0

In [77]:
list_number = [52, 273, 32, 72, 100]

try:
  number_input = int(input("정수 입력> "))
  print(f'{number_input}번째 요소: {list_number[number_input]}')
except ValueError:
  print('정수를 입력해주세요')
except IndexError:
  print('리스트의 인덱스를 벗어났습니다')

정수 입력> yes
정수를 입력해주세요

In [81]:
number = input("정수 입력> ")
number = int(number)

if number > 0:
  raise NotImplementedError('아직 구현하지 않음') # 구현되지 않은 상태
else:
  raise NotImplementedError # 구현되지 않은 상태

정수 입력> 1

NotImplementedError: 아직 구현하지 않음

In [82]:
raise Exception('에러발생') # Exception이 가장 상위임

Exception: 에러발생

In [91]:
# 사용자로부터 1 ~ 10 사이의 정수를 입력
# 정수가 아닌 수를 입력하면 --> 수를 입력
# 정수를 입력했는데, 1~10 사이가 아니면 적당 에외 메세지를 출력

def getData():
  # try:
    number = int(input("1~10 사이의 정수를 입력하세요 : "))
  # except ValueError as error:
  #   print(error)
  #   return None
  # else:
    if number >= 1 and number <= 10:
      return number
    else:
      raise Exception("1~10 사이의 정수가 아닙니다")

In [96]:
try:
  print(getData())
except Exception as error:
  print(error)

1~10 사이의 정수를 입력하세요 : 123
1~10 사이의 정수가 아닙니다

# 자료구조
 - 리스트
 - 튜플
 - 딕셔너리
 - set
  - 저장순서를 보장하지 않는다
  - 중복을 허용하지 않는다
  - 차집합, 합집합, 교집합을 구현할 수 있다
  - {1,2,3,4}
- 리스트, 튜플, 셋은 서로 타입변환이 가능하다
 - list(), tuple(), set()

In [102]:
# 랜덤하게 생성한 리스트 중에서 중복을 제거해 보자
sample = [random.randint(1,15) for i in range(10)]
print(f'original : {sample}')
print(f'중복제거 : {list(set(sample))}')

# 만들기
set_1 = {1,2,3}
set_1.add(3)
set_1

original : [4, 12, 3, 1, 2, 2, 9, 8, 7, 1]
중복제거 : [1, 2, 3, 4, 7, 8, 9, 12]

{1, 2, 3}

In [105]:
lottos = set()
while len(lottos) < 6:
  lottos.add(random.randint(1,45))
lottos

{8, 14, 16, 19, 34, 37}

In [107]:
list(lottos), tuple(lottos)

([34, 37, 8, 14, 16, 19], (34, 37, 8, 14, 16, 19))

In [109]:
for i in lottos:
  print(i)

34
37
8
14
16
19

In [110]:
sample1 = [ random.randint(1,15) for i in range(10)]
sample2 = [ random.randint(1,15) for i in range(10)]

print(f'sample1 : {sample1}')
print(f'sample2 : {sample2}')

sample1 : [12, 3, 14, 7, 6, 15, 5, 14, 7, 7]
sample2 : [1, 7, 8, 12, 7, 3, 5, 10, 11, 15]

In [116]:
s1 = set(sample1)
s2 = set(sample2)

In [123]:
# 차집합
print(set(s2) - set(s1))
print(s2.difference(s1))

{8, 1, 10, 11}
{8, 1, 10, 11}

In [124]:
# 교집합
print(set(s2) & set(s1))
print(s2.intersection(s1))

{3, 5, 7, 12, 15}
{3, 5, 7, 12, 15}

In [125]:
# 합집합
print(set(s2) | set(s1))
print(s2.union(s1))

{1, 3, 5, 6, 7, 8, 10, 11, 12, 14, 15}
{1, 3, 5, 6, 7, 8, 10, 11, 12, 14, 15}

- 변수
- 문자열
- 자료형 : 숫자, 불 ...
- 조건문 : if 조건 else 거짓
- 반복문
 - break / continue
- 자료구조
 - 리스트, 튜플, 딕셔너리, 셋
 - 리스트 컴프리핸션
- 함수
 - 매개변수 : 다양하게 존재
 - 리턴값
- 익명함수 --> 람다
 - 파이썬에는 함수를 매개변수로 받는 함수가 존재
 - map, filter, reduce(functool)
- 파일처리 : with 절
- 예외처리
 - try ~ except
 - raise Exception("예외발생")

In [126]:
# 학사관리 프로그램 - 이름은 중복없이 고유값
# 1. 입력 2. 출력
# 3. 삭제 4. 수정
# 5. 종료
# 입력 : 공백을 기준으로 : 이름 나이 성적
# 출력 : 전체 DB를 출력
# 삭제 : 이름에 해당하는 데이터를 DB에서 제거
# 수정 : 나이와 성적을 공백 기준으로 입력 받아서 수정
# 종료 : 프로그램 종료

In [129]:
db = [
    {
        'name' : '홍길동',
        'age' : 20,
        'grade' : 100
    },
    {
        'name' : '홍길순',
        'age' : 20,
        'grade' : 100
    }
]

In [143]:
from logging import info
# 데이터 구조
info = []
#입력
def menuNumber():
  menu = 0
  print("1. 입력\t\t 2. 출력")
  print("3. 삭제\t\t 4. 수정")
  print("5. 종료")
  menu = int(input("메뉴를 선택하세요 > "))
  if 1<= menu <= 5:
    return int(menu)
  else:
    print("잘못된 입력입니다")
    return menuNumber()

def inputData():
  student, age, grade = input("공백을 기준으로 학생의 이름 나이 성적을 입력하세요").split()
  info.append(dict(zip(['student', 'age', 'grade'],[student, age, grade])))

def deleteData(db):
  name = input("삭제할 학생의 이름을 입력하세요")
  for i in range(len(db)):
    if db[i]['student'] == name:
      del db[i]
      break
  else:
    print("해당하는 학생이 없습니다")

def sujungData(db):
  student, age, grade = input("공백을 기준으로 수정할 학생의 이름 나이 성적을 입력하세요").split()
  for i in range(len(info)):
    if info[i]['student'] == student:
      info[i]['age'] = age
      info[i]['grade'] = grade
      break
  else:
    print("해당하는 학생이 없습니다")

while True:
  menu_num = menuNumber()

  if menu_num == 1:
    inputData()

  elif menu_num == 2:
    print(info)

  elif menu_num == 3:
    deleteData(info)

  elif menu_num == 4:
    sujungData(info)

  elif menu_num == 5:
    break

  else:
    print("잘못된 입력입니다")

1. 입력		 2. 출력
3. 삭제		 4. 수정
5. 종료
메뉴를 선택하세요 > 1
공백을 기준으로 학생의 이름 나이 성적을 입력하세요김 34 34
1. 입력		 2. 출력
3. 삭제		 4. 수정
5. 종료
메뉴를 선택하세요 > 1
공백을 기준으로 학생의 이름 나이 성적을 입력하세요이 23 23
1. 입력		 2. 출력
3. 삭제		 4. 수정
5. 종료
메뉴를 선택하세요 > 1
공백을 기준으로 학생의 이름 나이 성적을 입력하세요박 25 25
1. 입력		 2. 출력
3. 삭제		 4. 수정
5. 종료
메뉴를 선택하세요 > 2
[{'student': '김', 'age': '34', 'grade': '34'}, {'student': '이', 'age': '23', 'grade': '23'}, {'student': '박', 'age': '25', 'grade': '25'}]
1. 입력		 2. 출력
3. 삭제		 4. 수정
5. 종료
메뉴를 선택하세요 > 3
삭제할 학생의 이름을 입력하세요김
1. 입력		 2. 출력
3. 삭제		 4. 수정
5. 종료
메뉴를 선택하세요 > 2
[{'student': '이', 'age': '23', 'grade': '23'}, {'student': '박', 'age': '25', 'grade': '25'}]
1. 입력		 2. 출력
3. 삭제		 4. 수정
5. 종료
메뉴를 선택하세요 > 4
공백을 기준으로 수정할 학생의 이름 나이 성적을 입력하세요이 24 80
1. 입력		 2. 출력
3. 삭제		 4. 수정
5. 종료
메뉴를 선택하세요 > 2
[{'student': '이', 'age': '24', 'grade': '80'}, {'student': '박', 'age': '25', 'grade': '25'}]
1. 입력		 2. 출력
3. 삭제		 4. 수정
5. 종료
메뉴를 선택하세요 > 5