In [19]:
import pymysql

In [21]:
# mysql 데이터베이스 연결
connection = pymysql.connect(
    host = '127.0.0.1',
    user = 'root',
    password = '1234',
    database = 'bookrental',
    charset = 'utf8mb4',
    cursorclass = pymysql.cursors.DictCursor  # 결과를 딕셔너리 형태로 변환
)

In [22]:
connection

In [30]:
try:
    # 커서
    with connection.cursor() as cursor:
        # 데이터 삽입 - insert
        sql = "insert into customertbl values ('c009','고객1')"
        cursor.execute(sql)
        connection.commit()  # 변경사항을 저장
        print('데이터 생성되었음........')
        
        # 데이터 조회
        sql = 'select * from customertbl'
        cursor.execute(sql)
        result = cursor.fetchall()
        for row in result:
            print(row)

except Exception as e:
    print(e)

데이터 생성되었음........
{'customer_id': 'c001', 'customer_name': '고객1'}
{'customer_id': 'c002', 'customer_name': '고객2'}
{'customer_id': 'c003', 'customer_name': '고객3'}
{'customer_id': 'c004', 'customer_name': '고객4'}
{'customer_id': 'c005', 'customer_name': '고객5'}
{'customer_id': 'c009', 'customer_name': '고객1'}
{'customer_id': 'c010', 'customer_name': '고객1'}