- 분류
    - 최근접이웃 분류
        - 이웃한 데이터의 평균으로 분류나 회귀가 가능
    - 로지스틱 회귀
        - 로지스틱함수를 이용해서 데이터를 연속적인 형태로 변경 -> 미분가능한 형태, 0 ~ 1 로 데이터를 변경해서 확률로 계산 -> 분류 문제
        - 로지스틱 함수
            - 시그모이드 : 바이너리 즉 이진분류
            - softmax : 다중분류에 적합
                - 두 그래프 모두 연속적인 미분 가능한 곡선임
            - 경사하강법
                - 손실함수의 값이 최소가 되는 방향으로 학습을 이어 나가는 알고리즘 -> 가중치의 변화량 즉, 미분을 적용
                - 학습률
                    - 너무 크면.. 오차가 주기적으로 줄어드는게 아니라, 줄어들었다 커졌다를 반복
                    - 너무 작으면.. 충분한 학습률이 필요
                    - best한 방법은 처음에는 크게 가다가 점점 작게 적용
                        - 옵티마이져
                - 학습횟수
                    - 학습률만큼 경사를 내려가는 횟수
                    - 학습률이 너무 작으면 충분한 학습 횟수를 가져야 최적의 해를 구할 수 있다.

    - SVM
        - 분류와 회귀에 사용 가능한 모델
        - 두 클래스 간의 최적의 초 평면을 찾음 (결정경계면)
        - 초 평면 : 고차원 공간에서 두 클래스를 나누는 경계
        - 서포트 벡터 : 두 클래스 간의 가장 가까운 데이터 포인트들 -> 평면을 결정 짓게 됨
        - 마진 :  서포트 벡터와 초 평면 사이의 거리, svm이 마진을 최대화 해서 모델의 일반화 능력을 높임
        - 커널함수 : 기본적으로 svm은 선형분류를 하는데... 커널 함수를 적요하면 비선형도 가능
            - linear : 데이터가 선형으로 분리 가능
            - poly : 고차원에서 데이터 분리
            - rbf : 가장 많이 사용 비 선형문제에 적합.. 방사형 형태로 경계면을 갖는다
    - 결정트리
- 회귀

- 앞으로 배울 머신러닝 알고리즘

In [7]:
# 분류 모델을 만들고 싶은 데이터를 가져와서 적용
# 펭귄 품종 분류하기 svm을 적용할 것
import seaborn as sns
# help(sns.load_dataset)
df = sns.load_dataset('penguins')
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [8]:
df.isna().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [9]:
df = df.drop('sex',axis=1)
df = df.dropna()
df.isna().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 342 entries, 0 to 343
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            342 non-null    object
 1   island             342 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
dtypes: float64(4), object(2)
memory usage: 18.7+ KB

In [11]:
df['species'].unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [12]:
df['island'].unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [14]:
import pandas as pd
df_dummies = pd.get_dummies(df, columns=['species', 'island'])
df_dummies.head()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,species_Adelie,species_Chinstrap,species_Gentoo,island_Biscoe,island_Dream,island_Torgersen
0,39.1,18.7,181.0,3750.0,True,False,False,False,False,True
1,39.5,17.4,186.0,3800.0,True,False,False,False,False,True
2,40.3,18.0,195.0,3250.0,True,False,False,False,False,True
4,36.7,19.3,193.0,3450.0,True,False,False,False,False,True
5,39.3,20.6,190.0,3650.0,True,False,False,False,False,True

In [ ]:
# 범주형 데이터를 수치화....labelencoding

In [ ]:
x = df.drop('species', axis=1)
y = df['species']

from sklearn.

In [ ]:
from sklearn.svm import SVC
model = SVC()
model.fit()